.bean-list {
    width: 100%;
}

.icon-bean {
    height: 35px;
    width: auto
}

.icon-ble {
    height: 35px;
    width: auto
}

.pane {
    overflow-y: scroll;
}

.center-vertical {
    float: none;
    margin: 0 auto;
}

.pull-down {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
}

.fw-update-status {
    min-height: 40%;
    background-color: #FFFAFA;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
}
